NODE_ENV=development
PORT=3000

# database connection
DATABASE=
DATABASE_PASSWORD=

# jwt options
JWT_SECRET=set your text here to encryption jwt with
JWT_EXPIRES_IN=90d
JWT_COOKIE_EXPIRES_IN=90


# mailtrap account
EMAIL_USERNAME=set mail trap user name
EMAIL_PASSWORD=set mail trap password
EMAIL_HOST=set mail trap host
EMAIL_PORT=set mail trap port

# email from
EMAIL_FROM=set email from 

# brevo account
BREVOSMTP_USERNAME=set brevo username
BREVOPASSWORD_PASSWORD=set brevo password