doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  // Font Awesoem
  link(rel='stylesheet' href='./css/all.min.css')
  // Render All CSS Elements
  link(rel='stylesheet' href='./css/normalize.css')
  // Google Fonts => Poppins
  link(rel='preconnect' href='https://fonts.googleapis.com')
  link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin='')
  link(href='https://fonts.googleapis.com/css2?family=Alexandria:wght@100;200;300;400;500;600;700;800;900&family=Cairo:wght@300;400;600;700;800&family=Open+Sans:wght@300;400;500;600;700;800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Work+Sans:wght@200;300;400;500;600;700;800&display=swap' rel='stylesheet')
  // Main CSS File
  link(rel='stylesheet' href='./css/bootstrap.min.css')
  link(rel='stylesheet' href='./css/all.css')
  link(rel='stylesheet' href='./css/style.css')
  title #{title}

section.signup.vh-100
  .signup-content.d-flex.align-items-center.justify-content-center.vh-100
    form.signup-form(action='')
      h2.my-3.text-center sign up
      label(for='name') Name
      input#name.form-control.my-2(type='text' name='name' placeholder='Enter Your Name')
      label(for='email') Email
      input#email.form-control.my-2(type='text' name='email' placeholder='Enter Your Email')
      label(for='Password') Password
      input#password.form-control.my-2(type='password' name='Password' placeholder='Enter Your Password')
      label(for='PasswordConfirm') Confirm password
      input#passwordConfirm.form-control.my-2(type='password' name='PasswordConfirm' placeholder='Confirm Your Password')
      .d-flex.justify-content-center.align-items-center
        button.signup-btn(type='submit') Sign up
      div
        p.m-0
          | have an account? 
          a(href='/login') Sign in  
//- section.signup
//-   .signup-img
//-     img(src='/images/login.jpg' alt='')
//-   .signup-content
//-     .form-box
//-       .form-header
//-         h2 Sign up
//-       form.signup-form(action='')
//-         .input-box
//-           label(for='name') Name
//-           input#name(type='text' name='name' placeholder='Enter Your Name')
//-         .input-box
//-           label(for='email') Email
//-           input#email(type='text' name='email' placeholder='Enter Your Email')
//-         .input-box
//-           label(for='Password') Password
//-           input#password(type='password' name='Password' placeholder='Enter Your Password')
//-         .input-box
//-           label(for='PasswordConfirm') Confirm password
//-           input#passwordConfirm(type='password' name='PasswordConfirm' placeholder='Confirm Your Password')
//-         .input-box
//-           button.signup-btn(type='submit') Sign up
//-         .input-box
//-           p
//-             | have an account? 
//-             a(href='/login') Sign in

script(src='https://cdnjs.cloudflare.com/ajax/libs/axios/1.6.7/axios.min.js')
script(src='./js/alert.js') 
script(src='./js/bootstrap.bundle.min.js')
script(src='./js/bundle.js')